@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



:root {
    background-image: none ;
    background-color: black;
    --heading : "Montserrat", sans-serif;
    --body : "Lato", sans-serif;


}
.dashboard {
  min-height: 100vh;
  padding: 1rem 1rem 1rem;
}

.dashboard-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;  
  gap: 1.5rem;
}

.events-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}


/* Calendar Styles */
:root{
  --bg:#1f1f1f;
  --panel:#262626;
  --text:#f5f5f5;
  --muted:#9aa0a6;
  --accent:#ccff00;
}

.calendar {
  background-color: #262626;
  color: white;
  border-radius: 0 0 14px 14px;
  padding: 14px 12px 8px;
  width: 100%;
  max-width: 370px;
  margin: 0 auto 20px auto;
  position: relative;
  z-index: 100;
  transition: padding 0.4s ease;
}

.calendar.collapsed {
  padding-bottom: 14px;
}

.calendar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.calendar-title {
  text-align: center;
  flex: 1;
  font-family: var(--heading);
}

.calendar-week {
  font-weight: bold;
  letter-spacing: 0.5px;
  font-size: 20px;
  font-family: var(--heading);
}

.calendar-range {
  font-size: 12px;
  color: #9aa0a6;
  letter-spacing: 0.12em;
  font-family: var(--body);
}

.calendar-arrow {
  width: 80px;
  height: 40px;
  background: transparent;
  color: #ccff00;
  font-size: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  border: none;
}


.calendar-arrow:focus {
  outline: none;
  color: #ccff00;
}

.calendar-days-container {
  overflow: hidden;
  transition: max-height 0.4s ease, opacity 0.4s ease;
}

.calendar-days-container.expanded {
  max-height: 100px;
  opacity: 1;
}

.calendar-days-container.collapsed {
  max-height: 0;
  opacity: 0;
}

.calendar-days {
  display: flex;
  justify-content: flex-start;
  gap: 8px;
  padding: 6px 4px 2px;
  
}

.calendar-days:hover {
  transform: translateY(-2px);
}

.calendar-day-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  flex-shrink: 0;
}

.calendar-day {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  min-width: 45px;
  max-width: 45px;
  height: 45px;
  background: transparent;
  border: 2px solid #ccff00;
  color: white;
  border-radius: 999px;
  padding: 8px;
  cursor: pointer;
  font-family: var(--body);
}

.calendar-day:focus {
  outline: none; 
}


.day-letter {
  font-weight: bold;
  font-size: 1rem;
}

.day-date {
  font-size: 0.65rem;
  color: #9aa0a6;
  letter-spacing: 0.05em;
  text-align: center;
}

.day-dot {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #ff7043;
  display: block;
}

.calendar-day.selected {
  background-color: #ccff00;
  color: black;
  border-color: #ccff00
}

.calendar-day.selected + .day-date {
  color: #ccff00;
  font-weight: bold;
}

.calendar-day.selected .day-dot {
  background-color: black;
}

.calendar-toggle {
  width: 100px;
  height: 30px;
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin:  0 auto;
  padding: 0;
  padding-top: 30px;
  border-radius:  14px 14px 0 0;
}

.toggle-line {
  width: 40px;
  height: 4px;
  background-color: #ccff00;
  border-radius: 2px;
  transition: transform 0.3s ease;
}


.calendar-toggle:focus {
  outline: none;
}

/* End Calendar Styles */

/*Filetr buttons*/

.filter-container {
  display: flex;
  gap: 15px;
}

.filter-btn {
  height: 41px;
  padding: 10px 25px;
  border: 2px solid #fff;
  border-radius: 25px;
  background-color: transparent;
  color: #fff;
  font-size: 13px;
  cursor: pointer;
  font-family: var(--body);
}

.filter-btn.active {
  background-color: #d4ff00;
  color: #000;
  border-color: #d4ff00;
}


.filter-icon-btn {
  padding: 10px 15px;
  border: 2px solid #d4ff00;
  border-radius: 50%;
  background-color: transparent;
  color: #d4ff00;
  font-size: 18px;
  cursor: pointer;
  width: 45px;
  height: 45px;
}

.icon {
  display: block;
}

/* Filter buttons Styles finish */

/*Run create card button Styles */

.add-run-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-run-button {
  width: 100%;
  padding-block: 3rem;
  background-color: transparent;
  border-radius: 20px;
  border: 4px solid #4444;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  transition: background-color 0.3s ease;
  cursor: pointer;
}


.add-run-plus {
  color: #f97316;
  font-size: 30px;
  font-weight: 700;
  line-height: 1;
  transition: transform 0.3s ease;
}


.add-run-text {
  color: #ffffff;
  font-size: 25px;
  font-weight: 500;
  line-height: 1;
  font-family: var(--heading);
}

/* Run create card Styles finish */

/*Event Card Styles */

.event-card {
  border-radius: 12px;
  overflow: hidden;
  position: center;
  width: 100%;
}

.event-image-container {
  position: relative;
  width: 100%;
  height: 200px;
  box-shadow: 0 8px 16px -4px rgba(254, 88, 42, 0.4);
}

.event-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
}

.event-date {
  width: 37px;
  height: 35px;
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #000;
  color: #D9D9D9;
  padding: 8px 10px;
  border-radius: 8px;
  font-weight: bold;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2px;
}

.event-month {
  display: block;
  text-transform: uppercase;
  font-size: 12px;
  opacity: 0.8;
  line-height: 1;
}

.event-day {
  display: block;
  font-size: 18px;
  line-height: 1;
}

.delete-button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 40px;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 50%;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s;
}


.join-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 100px;
  height: 40px;
  background-color: transparent;
  color: #D9D9D9;
  border: 2px solid #D9D9D9;
  border-radius: 13px;
  font-weight: bold;
  font-size: 13px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--body);
}

.event-info {
  padding: 8px;
  background-color: #29292952;
}

.event-info h3 {
  margin: 5px -10px;
  font-size: 14px;
  font-weight: bold;
  font-family: var(--heading);
}

.event-info p {
  color: #d9d9d9d0;
  font-size: 0.9rem;
  margin: 5px -10px;
  font-family: var(--body);
}

.events-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 5.5rem;
}