@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.login {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: "Lato", sans-serif;
}

.login-container {
  max-width: 360px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.login-container h1,
.login-container h2,
.login-container h3,
.login-container h4,
.login-container h5,
.login-container h6 {
  font-family: "Montserrat", sans-serif;
}


.login-container input {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box; /* Add this line */
  font-family: "Lato", sans-serif;
}

.login-container input:focus {
  border-color: #DAFF00;
  background-color: rgba(218, 255, 0, 0.05);
}


.login-container .error-message {
  color: rgb(0, 0, 0);
  margin: 8px 0;
  font-family: "Lato", sans-serif;
}

.login-container button {
  width: 100%;
  padding: 10px;
  cursor: pointer;
  margin-top: 36px;
  font-family: "Lato", sans-serif;
  font-weight: 600;
}

.password-container {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}

.password-container input {
  width: 100%;
  padding-right: 60px; /* Make space for the "Show"/"Hide" text */
}


.password-toggle {
  position: absolute;
  top: 3px;
  right: 10px;
  cursor: pointer;
  color: #888;
  user-select: none; 
  font-family: "Lato", sans-serif;
}

.login-container button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.login-container .signup-link {
  margin-top: 12px;
}

.social-login {
  text-align: center;
  margin-top: 24px;
  color: #666;
  font-family: "Lato", sans-serif;
}

.social-buttons {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 12px;
}

.signup-link {
  display: block;       
  width: 100%;
  text-align: right;    
  margin-top: 8px;
  font-family: "Lato", sans-serif;
}


