.navbar {
  background-color: #2C2B2B;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  padding: 0 20px;
  position: fixed;
  bottom: -5px;
  left: 0;
  right: 0;
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 5px;
  padding: 0.8rem 0;
}

.navbar-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 1.8rem;
}

.navbar-item {
  margin: 0;
}

.navbar-item:nth-child(3) {
  transform: translateY(-10px);
}

.navbar-link { 
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #b3b3b3;
  font-size: 1rem;
  font-weight: 500;
  gap: 0.25rem;
}

.navbar-link.active {
  color: #fff;
}

.navbar-icon {
  width: 24px;
  height: 24px;
  object-fit: contain;
  justify-content: center;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  filter: brightness(0.7);
}

.create-button {
  width: 60px;
  height: 60px;
  background-color: #DAFF00;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.plus-icon {
  color: #000000;
  font-size: 36px;
  font-weight: 900;
  line-height: 1;
  padding-bottom: 10px
}

.navbar-link.active .navbar-icon {
  opacity: 1;
  filter: brightness(100);
}

.navbar-link:hover .navbar-icon {
  opacity: 1;
}