.progress-bar-container {
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  display: flex;
  gap: 8px;
  width: 90%;
  padding: 10px 20px;
  z-index: 1000;
}

.bar {
  height: 5px;
  background-color: #ddd;
  border-radius: 2px;
  flex: 1;
  transition: all 0.3s ease;
}

.bar.active {
  flex: 1.5;
  background-color: #DAFF00;
}