:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme:  dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #201E1F;
  --background-color: #201E1F;
  background-image: url('./assets/Vector.png') ;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  height: auto;
  background-color: var(--background-color);
  overflow-y: auto;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 32px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  background-color: #DAFF00;
  color: #201E1F;
  border: none;
}
button:hover {
  border-color:none;
}